.vk-accordion(@h3FontFamily, @h3FontSize, @h3FontSizeRatio, @h3ColorTitle, @bgColorTitle, @bgColorTitleActive, @bgColorTitleOpacity, 
			@bgColorTitleHoverOpacity, @bgColorTitleActiveOpacity, @bgColorTitleActiveHoverOpacity, 
			@borderColorTitle, @iconColor, @iconColorHover){
	.uk-accordion-title{
		.enc-user-select-none;
		.enc-transition(0.5s, ease);
		.enc-background-rgb(@bgColorTitle, @bgColorTitleOpacity);
		.enc-media-auto-width(font-size, @h3FontSize, @h3FontSizeRatio);
		.enc-media-auto-width(padding-left, 7px, 0.5);
		.enc-media-auto-width(margin-top, 7px, 0.4);
		.enc-media-auto-width(margin-bottom, 7px, 0.4);
		.enc-create-border(1px, solid, @borderColorTitle, 1);
		text-align: left;
		font-weight: bold;
		font-family: @h3FontFamily;
		color: @h3ColorTitle;
		&:hover{
			.enc-background-rgb(@bgColorTitle, @bgColorTitleHoverOpacity);
			.enc-create-border(1px, solid, @borderColorTitle, 13px);
			color: @iconColorHover;
		}
		&:hover span{
			color: @iconColorHover;
		}
		span{
			.enc-transition(0.5s, ease);
			color: @iconColor;
			&:hover{
				color: @iconColorHover;
			}
			&:before{
				content: "\f0fe";
			}
		}
	}
	.uk-active{
		.enc-background-rgb(@bgColorTitleActive, @bgColorTitleActiveOpacity);
		.enc-create-border(1px, solid, @borderColorTitle, 13px);
		.enc-transition(0.5s, ease);
		color: @iconColorHover;
		&:hover{
			.enc-background-rgb(@bgColorTitleActive, @bgColorTitleActiveHoverOpacity);
		}
		span{
			color: @iconColorHover;
			&:before{
				content: "\f146";
			}
		}
	}
}
